<div *ngIf="isLogin; then login; else register"></div>
<ng-template #login>
  <div class="form-signin">
    <h1 class="h3 mb-3 fw-normal">Регистрация</h1>
    <div [class]="errorType" role="alert" *ngIf="isError">
      {{ error }}
    </div>
    <button
      style="margin-top: 50px"
      class="w-100 btn btn-lg btn-primary"
      type="submit"
      (click)="isLogin = false"
    >
      Нет аккаунта
    </button>
  </div>
</ng-template>
<ng-template #register>
  <div class="form-signin">
    <h1 class="h3 mb-3 fw-normal">Регистрация</h1>

    <div [class]="errorType" role="alert" *ngIf="isError">
      {{ error }}
    </div>
    <div class="form-floating">
      <input
        type="name"
        class="form-control"
        id="floatingInput"
        placeholder="Иван"
        min="1"
        max="20"
        maxlength = "20"
        [(ngModel)]="user.name"
      />
      <label for="floatingInput">Имя</label>
      
    </div>

    <div class="form-floating">
        <input
          type="surname"
          class="form-control"
          id="floatingInput"
          placeholder="Сидоров"
          min="1"
          max="20"
          maxlength = "20"
          [(ngModel)]="user.surname"
        />
        <label for="floatingInput">Фамилия</label>
      </div>
      
    <div class="form-floating">
        <input
          type="otec"
          class="form-control"
          id="floatingInput"
          placeholder="Иванович"
          min="0"
          max="20"
          maxlength = "20"
          [(ngModel)]="user.otec"
        />
        <label for="floatingInput">Отчество</label>
    </div>
    
    <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
          min="1"
          max="300"
          maxlength = "300"
          [(ngModel)]="user.email"
        />
        <label for="floatingInput">Почта</label>
    </div>
      
    <div class="form-floating">
      <input
        required
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        min="10"
        max="300"
        minlength="10"
        maxlength= "300"
        [(ngModel)]="user.password"
      />
      <label for="floatingPassword">Пароль</label>
      <p>Введите минимум 10 символов</p>
    </div>

    <div class="form-floating">
      <input
        required
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        min="10"
        max="300"
        minlength= "10"
        maxlength= "300"
        [(ngModel)]="user.passwordrepeat"
      />
      <label for="floatingPassword">Повторить пароль</label>
    </div>


    <div class="form-floating">
        <input
          required
          type="date"
          class="form-control"
          id="floatingInput"
          value="2013-02-20"
          date-picker="start" 
          min="1900-01-01" 
          max="2015-01-01"
          [(ngModel)]="user.date"
        />
        <label for="floatingInput">Дата рождения</label>
    </div>

    <div class="form-floating">
      <input
        required
        type="sex"
        class="form-control"
        id="floatingInput"
        placeholder="sex"
        min="10"
        max="300"
        minlength="10"
        maxlength= "300"
        [(ngModel)]="user.sex"
      />
        <label for="floatingInput">Пол</label>

      </div>


    <button
      class="w-100 btn btn-lg btn-primary"
      type="submit"
      (click)="registerUser()"
    >
      Зарегистрироваться
    </button>

    <button
      style="margin-top: 50px"
      class="w-100 btn btn-lg btn-primary"
      type="submit"
      (click)="isLogin = true"
    >
      Уже есть аккаунт
    </button>
  </div>
</ng-template>
